body {
    width: 100vw;
    height: 100vh;
    background: url("../../images/background3.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}